/* GENERALITE */
*{
	padding:0px;
	margin:0px;
}

body  {	
	background-color:#4d4d4d;
	background-image:url(images/fond-site.gif);
	background-repeat:repeat-x;
}
img{
    padding: 4px;
	border: 1px solid #999999;
	background-color:#FFF;	
}
img.imageGauche{
	float:left;
	margin-right:20px;
} 
img.imageDroite{
	float:right;
	margin-left:20px;
}
a{
	color:#6c2323;	
} 
p{
	margin-bottom:50px;	
	font-weight:normal;
	padding-top:5px;
	font-family: "verdana";
	font-size: 11px;
	color:#6c2323;
	text-align:justify;
}
#global { 
    margin-left: auto; /* Permet de centrer le site */
    margin-right: auto; /* Permet de centrer le site */
    width: 800px;
	background-color:#dfdfdf;
    border: 1px solid #000000;
	text-align:left;
	padding-bottom:0px;
}
/* BANDEAU */
#bandeau {
	padding:13px;
	background-color:#00FF33;
	background-image:url(images/fond-haut.gif);
	background-repeat:repeat-x;
	height:55px;
}
.titreSite {
	font-family: "trebuchet ms";
	font-size: 25px;
	color:#641616;
}
.slogan {
	font-family:"trebuchet ms";
	font-size:12px;
	color:#641616;
}
/* MENU DE NAVIGATION */
#menu {
	list-style: none;
	margin: 0px;
	padding: 0px;
	background: #a77b7c;
}
#menu li {
	display: inline;
	background: #a77b7c;
	color: #FFFFFF;
	border-right:#FFFFFF solid 1px;
	padding-top:0px;
	font-size:12px;
}
#menu li a {
	padding: 0px 30px;
	text-align: center;
	text-decoration: none;
	background: #a77b7c;
	color: #FFFFFF;
	font-family:trebuchet ms;
	font-weight:bold;
}
#menu li a:hover, #menu li a:focus, #menu li a:active {
	background: #641616;
	text-decoration: underline;
}
/* CONTENU DE LA PAGE */
#contenu {
	padding:35px;
}
h1 {
	font-family: "trebuchet ms";
	font-size: 30px;
	color:skyblue;
	text-align:center;
	margin-bottom:20px;
}
h2 {
	font-family: "verdana";
	font-size: 15px;
	color:#4d4d4d;
	font-variant: small-caps;
}
/* PIED DE PAGE */
#piedDePage{
	background-color:#FFFFFF;
	text-align:center;
	font-family:verdana;
	font-size:9px;
	height:15px;
	padding-top:2px;
	color:#5a0000;	
}