
body{
	text-align:justify; 
	text-indent: 30px;
	padding-top:5px;  
	margin-left: auto;
    margin-right: auto; 
    padding:5px;
	margin:0px;
}

img{
	width: 150px;
	height: 150px; 
	float:right;
}

div p{
	margin-bottom:5px;	
	padding-top:5px;
	font-family: "verdana";
	font-size: 12px;
	text-align:justify;
	margin-left:40px;
}
.etat{
	font-size: 12px;
	font-family: "verdana";
}
p span {
	display: block;
	padding-top:10px;
}
a{
	text-decoration: none;
}
span b{
	margin-right: 5px;
}
li {
	margin-right: 10px;
	padding-top:10px;
	line-height: 25px;
	font-size: 12px;
}
h3 {
	margin-left:40px;
}